<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="employees" router-Link-Active="active" class="nav-link">Employee List</a>
        </li>
        <li class="nav-item">
            <a routerLink="create-employee" router-Link-Active="active" class="nav-link">Add Employee</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
<div class="container">
    <span>Demo On Student Management System</span>
</div>
</footer>